.spinner-component {
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  vertical-align: middle;
  .spinner {
    position: fixed;
    display: inline-block;
    top: 50%;

  }
}
.spinnerHide {
  display: none;
}
