.header-component {
  background: #fff;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 10;
  //-webkit-box-shadow: 0 2px 8px #f4f4f4;
  //box-shadow: 0 2px 8px #f4f4f4;
  border-bottom: 1px solid rgba(0,0,0,.1);
  font-size: 16px;
  .header-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1120px;
    .right-container {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
  .blog-header {
    background: #fff;
    padding: 0 60px;
  }
  @media (max-width: 576px) {
    .blog-header {
      padding: 0 10px;
    }
  }
}


