html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ant-btn {
  border-radius: 8px;
}

.home {
  text-align: center;
  .header {
    background: #fff;
  }
  .body-container {
    //background: #f4f4f4;
    position: relative;
    margin: 0 auto;
    width: 100%;
    padding-top: 70px;
    max-width: 1120px;

    .sidebar-container {
      display: flex;
      justify-content: center;
    }

  }
}

@media(max-width: 480px) {
  .body-container {
    padding: 0;
  }
}

